<div class="msf-container">
          <div class="container">
            <div class="row">
                  <div class="col-sm-12 msf-title">
                      <h3></h3>
                      <h3>Processus de commande d'abonnement pour un fournisseur de stockage cloud</h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 msf-form">
                      
                      <form role="form" action="" method="post" class="form-inline">
                        
                        <fieldset>
                          <h4>Sélectionnez les paramètres d'abonnement : <span class="step"> (Etape 1 / 3)</span></h4>
                        <div class="form-group">
                            <label for="date">Date:</label><br>
                             <input type="date" name="date" class="date-stl form-control" id="date">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Quantité de gigaoctets dans un cloud</label><br>
                            <input type="number" name="Quantite-go" value="5" class="form-control number-stl" id="last-name">
                        </div>
                        <div class="form-group">
                            <label for="height">Paiement initiale</label><br>
                               <div class="col-sm-10">
                                 <select class="form-control input-brand">
                                   <option disabled >Select</option>
                                   <option>Non</option>
                                   <option>Oui</option>
                                 </select>
                                </div>
                        </div>     
                      <br>
                      <button type="button" class="btn btn-next">Suivant <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    
                    <fieldset>
                      <h4>Données de paiement :<span class="step"> (Etape 2 / 3)</span></h4>
                      <div class="form-group">
                            <label for="birth-city">Numéro de Carte de Crédit</label><br>
                            <input type="number" name="credit-card " class="form-control number-stl" id="credit-card">
                        </div>
                        <div class="form-group">
                            <label for="birth-state">Date d'expiration de la carte de crédit</label><br>
                              <input type="date" name="date-expiration" class="date-stl form-control" id="date-expiration">
                        </div>
                        <div class="form-group">
                            <label for="birth-country">Code de sécurité de la carte de crédit</label><br>
                             <input type="number" name="security-code " class="form-control number-stl" id="last-name">
                        </div>
                      <br>
                      <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i>Retour</button>
                      <button type="button" class="btn btn-next">Suivant <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    
                    <fieldset>
                      <h4>Validation <span class="step">(Etape 3 / 3)</span></h4>
                      <h5>Récapitulatif de l'abonnement sélectionné, y compris le prix total et le prix par Go.</h5><br>
                      <div class="form-group">
                            <label for="email">E-mail de l'utilisateur :</label><br>
                            <input type="text" name="address" class="form-control" id="email">
                        </div>
                      
                      <br>
                       <div class="form-group">
                            
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non  risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit. 
                        </h5>
                        </div>
                        <br>

                      <h5 class="form-check-label" for="flexCheckDefault"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> &nbsp; Accceptez-vous les accords sur les termes et conditions ci-dessus</h5><br>
                                           

                      <br>
                      <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Retour</button>
                      <button type="button" class="btn btn-next" (click)='valider()'>Valider <i class="fa fa-angle-right"></i></button>
                    </fieldset>  
                      </form>
                      
                  </div>
              </div>
      </div>
    </div>